* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #303F9F;
  color: #303F9F;
  overflow: hidden;
  transition: background-color 1.5s;
}

.circle-bg {
  // background-color: #303F9F;
  position: absolute;
  border-radius: 100%;
  width: 320px;
  height: 320px;
  transition: transform 1.7s;
  z-index: 899;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

#circle-text {
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  background-color: rgba(255,255,255,1);
  border-radius: 100%;
  width: 320px;
  height: 320px;
  z-index: 999;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

#quote {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  #quote-text {
    transition-property: opacity, color;
    transition-duration: 1.5s;
    opacity: 0;
    padding: 0 20px 10px;
  }
  #quote-author {
    transition-property: opacity, color;
    transition-duration: 1.5s;
    opacity: 0;
    text-align: right;
    padding: 0 35px;
  }
}

#buttons {
  position: absolute;
  left: 37%;
  bottom: 10%;
  span {
    padding: 10px;
    i {
      transition: color 1.5s;
      font-size: 1.5em;
    }
  }
}

.circle-click {
  transform: scale(20.0);
}
