* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.circle-bg {
  position: absolute;
  border-radius: 100%;
  width: 320px;
  height: 320px;
  transition: transform 1.7s;
  z-index: 899;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

#circle-text {
  display: table-cell;
  vertical-align: middle;
  position: absolute;
  background-color: rgba(255,255,255,1);
  border-radius: 100%;
  width: 320px;
  height: 320px;
  z-index: 999;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

#inner {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#quote-text {
  transition: opacity .4s;
  padding: 0 20px 10px;
}

#quote-author {
  transition: opacity .4s;
  text-align: right;
  padding: 0 35px 10px;
}

.circle-click {
  transform: scale(20.0);
}
